{% extends "base.html" %}

{% block title %} Home Page {% endblock %}

{% block content %}

<!-- HERO -->
<section class="py-5 text-center">
    <div class="container">
        <h1 class="fw-bold">SkyVault Cloud Storage</h1>
        <p class="text-secondary">Secure. Fast. Accessible anywhere.</p>

        <a href="https://github.com/ohadbekhor0705/SkyVault" target="_blank" class="btn btn-outline-secondary mt-3">
            GitHub Repository
        </a>
    </div>
</section>

<!-- FEATURES -->
<section class="py-4 bg-light">
    <div class="container">
        <div class="row text-center g-3">

            <div class="col-4">
                <div class="p-3 bg-white border rounded">
                    <p class="fw-bold mb-1">Secure</p>
                </div>
            </div>

            <div class="col-4">
                <div class="p-3 bg-white border rounded">
                    <p class="fw-bold mb-1">Fast</p>
                </div>
            </div>

            <div class="col-4">
                <div class="p-3 bg-white border rounded">
                    <p class="fw-bold mb-1">Share</p>
                </div>
            </div>

        </div>
    </div>
</section>



{% endblock %}